<form class="ui large form segment">
    <h3 class="ui header"></h3>
    
    <div class="field">
        <label for="title">Cinéma:</label>
        <select name="cinema" [ngModel]="searchCinema" (ngModelChange)="searchCinema = $event" > 
            <option value="" selected></option>
            <option value = "Pathé Belfort"> Pathé Belfort </option>
            <option value = "Pathé Beaux-Arts"> Pathé Beaux-Arts </option>
        </select> <!-- changed -->
    </div>
    <div class="field">
        <label for="link">Film:</label>
        <select name="film" [ngModel]="searchFilm" (ngModelChange)="searchFilm = $event"> 
            <option value="" selected></option>
            <option value = "Your Name"> Your Name </option>
            <option value = "Forrest Gump"> Forrest Gump </option>
            <option value = "Le Parrain"> Le Parrain </option>
            <option value = "The Dark Knight, Le Chevalier Noir"> The Dark Knight, Le Chevalier Noir </option>
        </select> <!-- changed -->
    </div>
    <div class="field">
        <label for="link">Horaire:</label>
        <input type="date" name="horaire" [ngModel] ="searchHoraire | date:'yyyy-MM-dd'" (ngModelChange)="searchHoraire = $event"/>
    </div>
</form>

<!-- start adding here -->
<div class="ui grid posts">
    <app-seance
        *ngFor="let seance of sortedSeances() | SeancePipe: searchCinema: searchFilm: searchHoraire" [seance]="seance">
    </app-seance>
</div>
<!-- end adding here -->