<div class="four wide column center aligned votes">
    <div class="ui statistic">
        <img class="logo" src= "{{ seance.picture }}">
    </div>
</div>

<div class="twelve wide column">
    <a class="ui large header" href="{{ link }}">
        {{ seance.film }}
    </a>
    
    <ul class="ui big horizontal list voters">
        <li class="item">
            <a href ="#">
                {{ seance.cinema }}, salle {{ seance.salle }}
            </a>
        </li>
        <li class="item">
            <a href ="#">
                {{ seance.date | date: "H'h'mm ' ' EEEE, dd. MMMM yyyy" }}
            </a>
        </li>
    </ul>
</div>